@{
    ViewData["Title"] = "Crea - ";
}
@model Pizza;

<div class="container">
    <div class="d-flex justify-content-center">
        <section class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-start flex-wrap align-items-center pt-3 pb-2 mb-3">

                @* Singola scheda *@
                <div class="card w-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="font-weight-bold">Inserimento nuova Pizza</span>
                        <a class="btn btn_custom_secondary" asp-area="" asp-controller="Pizza" asp-action="Index">Torna all'elenco</a>
                    </div>

                    <div class="card-body d-flex flex-column flex-md-row row">
                        
                        <form action="#" method="POST" enctype="multipart/form-data" id="item-form">
                        
                            @*{{-- Nome prodotto --}}*@
                            <div class="form-group">
                                <label class="font-weight-bold" for="name">Nome del prodotto</label>
                                <input type="text"
                                       value=""
                                       class="form-control"
                                       id="name"
                                       name="name"
                                       placeholder="Inserisci il nome del Prodotto">
                            </div>
                        
                            @*{{-- Prezzo prodotto --}}*@
                            <div class="form-group">
                                <label class="font-weight-bold" for="price">Prezzo del prodotto</label>
                                <input type="text"
                                       value=""
                                       class="form-control"
                                       id="price"
                                       name="price"
                                       placeholder="Inserisci il Prezzo">
                            </div>
                        
                            @*{{-- Descrizione prodotto --}}*@
                            <div class="form-group">
                                <label class="font-weight-bold" for="description">Descrizione del prodotto</label>
                                <textarea type="text"
                                            rows="6"
                                            class="form-control"
                                            id="description"
                                            name="description"
                                            placeholder="Inserisci la descrizione del Prodotto"></textarea>
                            </div>
                                                    
                            @*{{-- Inserimento Immagini --}}*@
                            <div class="form-group">
                                <label class="font-weight-bold" for="item-image">Aggiungi l'immagine del prodotto</label>
                                <input type="file" 
                                       class="form-control-file" 
                                       id="item-image" 
                                       name="image">
                            </div>
                                                    
                            <div id="new-image-box" class="d-none">
                                <p for="immagine-prodotto">Immagine inserita:</p>
                                <img id="new-image" name="immagine-prodotto" style="max-width: 50%" src="" alt="Nuova Immagine">
                            </div>

                            @*{{-- Submit --}}*@
                            <button type="submit" class="btn btn_custom">Salva</button>
                            </form>


                    </div>
                </div>
            </div>
            @* Singola scheda *@
        </section>
    </div>
</div>